name: Package Build Tools

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  package:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Zip build tools
        run: |
          zip -r buildtools.zip assets jniLibs

      - name: Verify zip content
        run: |
          unzip -l buildtools.zip
          if [ ! -f buildtools.zip ]; then
            echo "buildtools.zip not found!"
            exit 1
          fi

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: buildtools
          path: buildtools.zip

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: buildtools.zip
